<div class="bike-list">
  <!-- iteration here -->
  <% @bikes.each do |bike| %>

    <%= link_to bike_path(bike), class: "bike-card-container" do %>


      <div class="bike-image">
        <%= cl_image_tag bike.photo.key %>
      </div>
      <div class="bike-header"><h3><%= bike.brand %></h3></div>
      <div class="bike-details">
        <div class="bike-details-box">
          <div class="bike-details-info">
            <p><%= bike.bike_type %> Bike</p>
            <p>In <%= bike.area %></p>
          </div>
          <div class="bike-details-price">
            <h3><strong><%= bike.price %> <i class="fa-solid fa-euro-sign" style="color: #FFD43B;"></i></strong></h3>
          </div>
        </div>
      </div>
    <% end %>


  <% end %>
</div>
